                * {
                    margin: 0;
                    padding: 0;
                    box-sizing: border-box;
                    font-family: 'Poppins', sans-serif;
                }
                
                .navbar {
                    display: flex;
                    text-align: center;
                }
                
                nav {
                    flex: 1;
                    text-align: right;
                }
                
                nav ul {
                    list-style-type: none;
                }
                
                nav ul li {
                    display: inline-block;
                    margin-right: 20px;
                }
                
                nav ul li a {
                    text-decoration: none;
                    color: #555;
                }
                
                .container {
                    max-width: 1200px;
                    margin: 20px auto;
                    padding-right: 25px;
                    padding-left: 25px;
                }
                
                .row {
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    flex-wrap: wrap;
                }
                
                .col-2 {
                    flex-basis: 50%;
                }
                
                .col-2 img {
                    width: 100%;
                    padding: 30px 0;
                }
                
                .col-2 p {
                    padding-bottom: 40px;
                    color: #555;
                }
                
                .col-2 h1 {
                    font-size: 50px;
                    line-height: 50px;
                    color: #555;
                }
                
                .col-2 a {
                    text-decoration: none;
                    border-radius: 30px;
                    padding: 12px;
                    color: white;
                    background: #04AA6D;
                    transition: background 0.5s;
                }
                
                .col-2 a:hover {
                    background: #04AA6D;
                }
                
                .headerS {
                    background: radial-gradient(#fff, #eaf2fb);
                    margin-top: -20px;
                }
                
                .col-3 {
                    flex-basis: 30%;
                    min-width: 300px;
                    margin: auto;
                }
                
                .col-4 {
                    flex-basis: 30%;
                    min-width: 200px;
                    margin: auto;
                    transition: transform 0.5s;
                }
                
                .col-3 img {
                    width: 100%;
                }
                
                .col-4 img {
                    width: 100%;
                }
                
                .col-4:hover {
                    transform: translateY(-10px);
                }
                
                .container h2 {
                    text-align: center;
                    font-size: 1.2rem;
                    color: #444;
                    margin: 50px 0;
                }
                
                .col-4 a {
                    text-decoration: none;
                }
                
                footer {
                    background: #292929;
                    padding: 20px;
                    margin-top: 20px;
                    color: white;
                }
                
                table {
                    table-layout: fixed;
                    width: 100%;
                    border-collapse: collapse;
                    border: 2px solid #000000;
                    box-shadow: #292929;
                }
                
                th,
                td {
                    padding: 10px;
                }
                
                thead {
                    background: url(leopardskin.jpg);
                    color: white;
                    text-shadow: 1px 1px 1px black;
                }
                
                thead th {
                    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5));
                    border: 3px solid black;
                }
                
                thead th,
                tfoot th {
                    font-family: 'Rock Salt', cursive;
                }
                
                th {
                    letter-spacing: 2px;
                }
                
                td {
                    letter-spacing: 1px;
                }
                
                tbody td {
                    text-align: center;
                }
                
                .btn {
                    display: flex;
                    align-items: center;
                    margin-right: 20px;
                }
                
                button {
                    border: none;
                    background-color: powderblue;
                    padding: 12px;
                    color: white;
                    transition: background 0.5s;
                }
                
                button {
                    background: white;
                    color: #000000;
                }
                
                .containerF {
                    width: 100%;
                    height: 90vh;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                
                form {
                    display: flex;
                    flex-direction: column;
                    border-radius: 10px;
                    padding: 3vw 3vh;
                    max-width: 600px;
                    background-color: #F5F5F5;
                    margin-top: 60px;
                }
                
                form h3 {
                    color: #555;
                    font-weight: 800;
                    margin-bottom: 20px;
                }
                
                form input,
                form textarea {
                    border: 0;
                    outline: none;
                    padding: 20px;
                    margin-top: 10px;
                    margin-bottom: 10px;
                    margin-right: 0;
                    margin-left: 0;
                }
                
                form button {
                    padding: 10px;
                    outline: none;
                    border: 0;
                    cursor: pointer;
                    background-color: #ff5631;
                    color: #FFF;
                    font-size: 16px;
                    width: 450px;
                    margin: 20px auto 0;
                    cursor: pointer;
                }
                
                .lien {
                    padding: 18px;
                    text-align: right;
                }
                
                .lien a {
                    text-decoration: none;
                    color: #555;
                    font-size: 18px;
                    text-align: center;
                    margin: 30px;
                    padding: 10px;
                    box-shadow: #F5F5F5 2px 2px;
                }
                
                .container1 {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                }
                
                .send {
                    padding: 8px;
                    outline: none;
                    border: 0;
                    cursor: pointer;
                    background-color: #ff5631;
                    color: #FFF;
                    font-size: 16px;
                    cursor: pointer;
                    width: 420px;
                }
                
                .lienN {
                    width: 100%;
                    height: 50vh;
                    padding: 20px;
                    justify-content: center;
                    background-color: aqua;
                }
                
                h1 {
                    font-weight: 700;
                    color: #ff5631;
                }
                
                .content {
                    display: flex;
                    justify-content: space-around;
                }
                
                a {
                    text-decoration: none;
                }
                
                span {
                    width: 40px;
                    height: auto;
                    background-color: #04AA6D;
                    color: white;
                    padding: 10px;
                }